section {
  margin: 10px 20px;
}

.not-configured-warning {
  display: none;
}

.error-display {
  display: none;
}

.gist-list-container {
  margin: 10px -8px;
  display: none;
}

.list-title {
  border-bottom: 1px solid #a6a6a6;
  padding-bottom: 5px;
}

ul {
  margin-top: 10px;
}

.ms-ListItem-secondaryText,
.ms-ListItem-tertiaryText {
  padding-left: 15px;
}

#contact {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
}

#name,
#other-Fields {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.ms-TextField {
  width: 15rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.ms-Label {
  font-size: smaller;
}

.ms-Dialog-actionsRight {
  display: flex;
  justify-content: end;
}
